<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Welcome to Our Website</h1>
    <p>Please select your role to login:</p>
    
    <button type="button"  onclick="userLogin(event)">User Login</button>
    <button type="button"  onclick="authorLogin(event)">Author Login</button>
    <button type="button"  onclick="publisherLogin(event)">Publisher Login</button>

    <script>
        //function userLogin() {
            // Redirect or perform user login action
            //alert("User login clicked!");
           // window.location.href(`/userindex`);
            // You can replace the alert with actual login logic
        //}

        //function authorLogin() {
            // Redirect or perform author login action
           // alert("Author login clicked!");
            // You can replace the alert with actual login logic
        //}

       // function publisherLogin() {
            // Redirect or perform publisher login action
            //alert("Publisher login clicked!");
            // You can replace the alert with actual login logic
        //}
    </script>
    <script src="/js/user/root.js"></script>

</body>
</html>