.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 25px;
}

.form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
    /* Add a border only at the bottom */
    background-color: transparent;
    padding: 10px 0;
    /* Adjust padding for spacing */
    box-shadow: none;
    /* Optional: Remove any shadow */
    color: white;
    width: 550px;
}

.form-control:focus {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    box-shadow: none;
    color: white;
}

#inputPhoto {
    border: none;
}

#signupButton {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* This ensures the button takes up the full available width */
}



.container {
    margin-top: 100px;
}

.footer {
    margin-top: 158px;
}

input[type="text"] {
    width: 100%;
    padding: 15px 10px;
    border: none;
    border-bottom: 1px solid #645979;
    outline: none;
    border-radius: 5px 5px 0 0;
    background-color: transparent;
    font-size: 16px;
}

ul {
    list-style: none;
}

.list {
    width: 100%;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

.list-items {
    padding: 10px 5px;
}

.list-items:hover {
    background-color: #dddddd;
}