@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem minmax(0, 1fr);
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

aside {
    height: 100vh;
    /* background: gray; */
}

aside .top {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .close{
    display: none;
}

aside .sidebar {
    background: white;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%; 
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 6px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

aside .sidebar .notification-count {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}


main {
    margin-top: 0.8rem;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: start;
}

main .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .top .left h1{
    margin: 0.6rem 0;
}

main .top .right {
    margin-top: 0.6rem;
    display: flex;
    justify-content: flex-end; /* Use flex-end for right alignment */
    /* position: fixed;
    top: 0;
    right: 1.35rem; */
    gap: 2rem;
}

main .top .right button {
    display: none;
}

main .top .right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

main .top .right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .top .right .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

main .top .right .profile-photo {
    display: flex;
    gap: 2rem;
    align-items: right;
    justify-content: right;
    margin-top: -0.4rem;
}

main .bottom {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 9rem);
    justify-content: center;
    align-items: center;
}

/* search-bar */
main .top .search-container {
    grid-column: span 2; /* Span across all columns */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  /* Style for the search bar */
main .top .search-bar {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #search-input {
    border: none;
    padding: 8px;
    flex-grow: 1;
    outline: none;
  }
  
  #search-button {
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #search-button:hover {
    background-color: var(--color-primary-variant);
  }
  
  /* Style for the filter dropdown */
  main .top .filter-dropdown select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }

main .bottom .book-card {
    /* display: grid;
    grid-template-rows: auto 1fr; */
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    cursor: pointer;
}

/* new */

.popup {
    display: none;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .popup .popup-content {
    width: 75%;
    transition: 0.3s ease;
  }

  .popup .popup-content .top {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0;
    align-items: center;
    justify-content: center;
  }

  .popup .popup-content .top .book-details {
    display: grid;
    background-color: white;
    padding: 20px;
    height: 100%;
  }

  .popup .popup-content .top .owner-details {
    display: grid;
    background-color: white;
    padding: 20px;
    height: 100%;
  }

  .popup .popup-content .bottom {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0;
  }

  .popup .popup-content .bottom .author-details {
    display: grid;
    background-color: white;
    padding: 20px;
    height: 100%;
  }

  .popup .popup-content .bottom .publisher-details {
    display: grid;
    background-color: white;
    padding: 20px;
    height: 100%;
  }

  .popup img {
    height: 18rem;
    width: 13rem;
    border-radius: var(--card-border-radius);
    padding: 5px;
  }

  .popup .dp img {
    border-radius: 50%;
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    display: block;
    margin: auto auto;
  }
  
  
  /* new end */

main .bottom .book-card:hover {
    box-shadow: none;
}

main .bottom .book-card .book {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
}

main .bottom .book-card .book .detail {
    margin: auto 0.5rem;
    text-align: left;
}

main .bottom .book-card .book .book-img img {
    height: 18rem;
    width: 13rem;
    border-radius: var(--card-border-radius);
} 

main .bottom .book-card .buttons {
    display: fixed;
    margin-top: 1rem;
    gap: 20px;
    text-align: center;
    justify-content: center;
    left: 0;
    bottom: 0;
}

@media (max-width: 1000px) {
    main .bottom {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    main .bottom .search-container {
        grid-column: span 2; /* Span across all columns */
      }

    main .bottom .book-card .book .book-img img {
        height: 15rem;
        width: 10rem;
        border-radius: var(--card-border-radius);
    } 

    main .bottom .book-card .book {
        gap: 1.2rem;
    }
}

.btn {
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    
}

.btn-outline-primary {
    color: var(--color-primary);
    background-color: transparent;
    border-color: var(--color-primary);
}

.btn-outline-primary:hover {
    background-color: var(--color-primary);
    color: #fff;
    border-color: none;
}

main .insights h3 {
    margin: 0.6rem 0;
    font-size: 1rem;
}

main .insights small {
    /* margin-top: 1.6rem; */
    display: block;
}


main .user-card h3 {
    margin: 0.6rem 0;
    font-size: 1.5rem;
}



main .user-card .info img{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    overflow: hidden;
} 

main .user-card .info .texts {
    text-align: center;
}

main .user-card .info .texts h1{
    text-align: center;
}

@media (max-width: 1000px) {
    main .user-card .info {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        height: 52vh;
        width: 100%;
    } 
    main .user-card .info img{
        width: 20rem;
        height: 20rem;
    } 

    main .user-card h3 {
        font-size: 1.2rem;
        margin: 0.3rem 0;
    }
}

.right .blog {
    margin-top: 1rem;
}

.right .blog h2 {
    margin-bottom: 0.8rem;
}

.right .blog .posts {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    padding: var(--card-padding);
    height: 84vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 4.6rem;

    /* Add overflow property for scroll */
    overflow-y: auto;
}

.right .blog .posts:hover {
    box-shadow: none;
}

.right .blog .posts .post {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem; 
}

.right .write-post {
    display: grid;
    grid-template-columns: auto 1fr;
    border-radius: var(--card-border-radius);
    padding: 0.5rem;
    gap: 1rem;
    position: absolute;
    /* bottom: 4.2rem; */
    bottom: 6vh;
    width: 20rem;
    margin-left: -0.5rem;
    background: var(--color-white);

}

.right .write-post .no-resize{
    resize: none;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-1);
    border: 1px solid black;
    background-color: #dce1eb;
    margin-top: 0.3rem;
}

.right .write-post .send-btn {
    cursor: pointer;
}